@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..600&display=swap');

:root {
  --primary-clr: #7C5DFA;
  --primary-light: #9277FF;
  --danger-clr: #EC5757;
  --danger-light: #FF9277;

  --btn-pending: #FF8F00;
  --btn-paid: #33D69F;
  --btn-draft: rgba(55, 59, 83, 0.05); 

  --gray-clr: #DFE3FA;
  --gray-hvr: #F9FAFE;
  
  --bg-clr:#F8F8FB;

  --ele-dark-clr: #fff;
  --ele-light-clr: #F9FAFE;
  --ele-black-light: #373B53;
  
  --txt-clr:#0C0E16;
  --txt-gray: #888EB0;
  --txt-secondary:#7E88C3;
}
.dark {
  --gray-clr: #252945;
  --gray-hvr: #FFF;
  
  --bg-clr: #141625;
  
  --ele-dark-clr: #1E2139;
  --ele-light-clr: #252945;
  --ele-black-dark: #0C0E16;
  
  --txt-clr:#FFF;
  --txt-gray: #DFE3FA;
  --txt-secondary:#DFE3FA;
  
  --btn-draft: rgb(223, 227, 250,0.05);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body {
  background-color: var(--bg-clr);
  min-height: 100vh;
  line-height: 18px;
  font-size: 13px;
  letter-spacing: -0.1px;
  font-weight: normal;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}
h1{
  font-weight: bold;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -1px;
}
h2{
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -.75px;
}
h3{
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -.25px;
}
h4{
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -.25px;
}

.paid-btn{
  background-color: rgba(51, 214, 159, 0.05);
  color: var(--btn-paid);
}
.pending-btn{
  background-color: rgba(255, 143, 0, 0.05);
  color: var(--btn-pending);
}
.draft-btn{
  background-color: rgba(55, 59, 83, 0.05);
  color: var(--btn-draft);
}

.primary-btn,
.delete-btn,
.edit-btn{
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 50px;
  cursor: pointer;
}

.primary-btn{
  width: 130px;
  background-color: var(--primary-clr);
  color: var(--txt-clr);
}
.primary-btn:hover{
  background-color: var(--primary-light);
}
.delete-btn{
  width: 90px;
  background-color: var(--danger-clr);
  color: var(--txt-clr);
}
.delete-btn:hover{
  background-color: var(--danger-light);
}
.edit-btn{
  width: 73px;
  background-color: var(--gray-clr);
  color: var(--txt-gray);
}
.edit-btn:hover{
  background-color: var(--txt-secondary);
  color: #373b53;

}

.invoice__content .invoice__header .left .invoice__status.paid-btn .layer span,
.invoices .invoice .invoice__status.paid-btn .layer span{
  background-color: var(--btn-paid);
}
.invoice__content .invoice__header .left .invoice__status.draft-btn .layer span,
.invoices .invoice .invoice__status.draft-btn .layer span{
  background-color: var(--btn-draft);
}
.invoice__content .invoice__header .left .invoice__status.pending-btn .layer span,
.invoices .invoice .invoice__status.pending-btn .layer span{
  background-color: var(--btn-pending);
}